    .wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 320px;
        margin:100px auto;
		text-align: center;
    }

	#square1, #square2, #square3, #square4, #square5,
	#square6, #square7, #square8, #square9 {
		width: 75px;
		height: 70px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 30px;
        cursor: pointer;
		text-align: center;
	}

	#btn {
		box-sizing: border-box;
		width: 95px;
		height: 40px;
		border: 1px solid blue;
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,Tahoma, sans-serif;
		background-color: blue;
		color: white;
		font-size: 20px;
		cursor: pointer;
        margin-top:10px;

	}

